
/* Globals */
:root {
    --primary-color: #cc0000;
    --font-color: #444444;
    --nice-blue: #12347f;
}

/* In case Bootstrap is not loaded */
/* To adjust the box-sizing property value */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
    font-family: Abel, Ruluko, Junge, sans-serif, Arial, monospace;
    /* Be careful that the damn perspective properties down here will cancel some the effects of the positioning fixed thing, you could try so and the do some element like a button and try to do some position: fixed to see the difference & you will notice that the damn thing will scroll ordinarily, and here what you need to do is to remove/reset the values of the properties down here [perspective & perspective-origin] to restore the default behavior */
    perspective: 1500px;
    perspective-origin: center;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
}

.some {
    background: olive;
    color: #f0f0f0 !important;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    width: 300px;
}

body {
    /* To cancel the effect it does to some positioned elements */
    perspective: none !important;
}

/* Header-Announcement Section */
header {
    background: #ffad15;
}

/* Navigation Section */
nav.navbar {
    background: linear-gradient(to right, rgba(50, 0, 250, .65), crimson);
}

nav.navbar a.hvr-underline-from-center::before {
    height: 2px;
    background: #0041ce;
}

/* Showcase-Carousel Section */
section#showcase #main-carousel,
section#showcase #main-carousel .carousel-inner,
section#showcase #main-carousel .carousel-inner .carousel-item {
    /* Sorry in advance for the long notes, but it's really important for you to understand why is the certain values down below, don't just know, understand [Try to apply/code the part of the carousel with all the nav & Header in a separate thing to understand it better][Open the dev tools & apply on various viewports & devices for more & more understanding of what's happening behind the scenes] */
    /* This media query is made specially to deal with the 'showcase-carousel' section which will overflow the screen causing a scroll when there's no one. Now that happens because the images & carousel inner divisions are set to take the full width in percentages and the height is not set, thus, takes the 'auto' value and will extend on the large enough screens not only to take the full width, but to stretch and overflow the visible windwow area */
    /* Now you can set a height to the damn thing['carousel-inner'||'#main-carousel'||'carousel-item' ==> specifically][As additional note, you can say why the images doesn't take the damn full width then, and the answer because their 'height' is set to auto, thus, will shrink automatically, if you want them to take the full thing, specify the 'height' of the images to take the same value as the other values mentioned in my previous 'brackets[]' and you'll then know that it's un-convenient, ugly thing to do and the wise thing is to apply the 'max-height' where the values cannot extend beyond the value which you've specified in the code, thus, the slider will have the full screen always as long as the ratio between the width and the height is is for the width one, i.e. the width is bigger than the height so the image can really take the full-width, but in the general case, it will not never overflow beyond the window/screen/... and that was the intended purpose from the beginning, it's okay to shrink on some viewports as long as it looks great] => Notice that this will solve the problem only in the point where the specified 'height' below is big enough to take the rest of the screen where in another cases if the the screen height is bigger than the specified height[2000&950 -> try it for demo with the current config down below, and then un-comment the jQuery code and see the difference with the same window dimensions and you will know then what i really mean], it will not be able to extend to it as it's 'max-height' and not 'min-height', but it's okay by then because the full-width screen would be available nicely on the screen even if the height of the window is not enough, it will align as it should without problems and look nice at the same time, you can still make it look nice on the more bigger heights[Not really that necessary] with jQuery tricks and i documented it there well enough, check the code out */
    max-height: 88vh;
}

/* Features Section */
/* ... */

/* Pricing Section */
section#pricing .container table tfoot {
    background: var(--nice-blue);
}

/* Contact Section */
/* ... */

/* About Section */
section#about #main-carousel,
section#about .carousel-inner,
section#about .carousel-item {
    /* Similar to the first showcase-carousel styling */
    /* Because here i want the damn thing to have that height all the time no matter the screen size[width||height], i specified that damn value which will stay the same as a max-height and will never go beyond that damn value */
    max-height: 65vh !important;
}

section#about .carousel-caption {
    background: rgba(0, 0, 0, .5);
}

/* Footer Section */
footer#main-footer {
    background: var(--nice-blue);
}

footer#main-footer .fa-fw:hover {
    cursor: pointer;
}

footer#main-footer .fa-linkedin {
    color: #305cbb;
}

footer#main-footer .fa-instagram {
    color: rgb(235, 67, 123);
}

footer#main-footer .fa-github {
    color: #b665db;
}

footer#main-footer .fa-twitter-square {
    color: #2095aa;
}

footer#main-footer .fa-youtube {
    color: rgb(197, 20, 20);
}

/* Scroll Up Division */
div.scroll-up {
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, .9);
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    display: none;
}