
/* Globals */
:root {
    --primary-color: #cc0000;
    --font-color: #444444;
    --nice-blue: #12347f;
    --hover-color: #cc1763;
}

/* In case Bootstrap is not loaded */
/* To adjust the box-sizing property value */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
    font-family: Abel, Ruluko, Junge, sans-serif, Arial, monospace;
    /* Be careful that the damn perspective properties down here will cancel some the effects of the positioning fixed thing, you could try so and the do some element like a button and try to do some position: fixed to see the difference & you will notice that the damn thing will scroll ordinarily, and here what you need to do is to remove/reset the values of the properties down here [perspective & perspective-origin] to restore the default behavior */
    perspective: 1500px;
    perspective-origin: center;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
}

body {
    /* To cancel the effect it does to some positioned elements */
    perspective: none !important;
}

/* Custom Hover Effects */
.hover-shrink,
.hover-float {
    transition: all .4s ease-out;
}

.hover-shrink:hover {
    transform: scale(.85);
}

.hover-float:hover {
    transform: translateY(-10px);
}

.hover-shrink:hover .fa-fw,
.hover-float:hover .fa-fw {
    color: var(--hover-color) !important;
}

/* Header-Announcement Section */
header {
    /* Some backgrounds you might like */
    /* background: #ffad15; */
    /* background: var(--nice-blue); */
    /* background: #0053cf; */
    background: linear-gradient(to right, rgba(50, 0, 250, .65), crimson);
    /* background: linear-gradient(to right, royalblue, rgba(7, 152, 189, .7)); */
}

/* Navigation Section */
nav.navbar {
    background: linear-gradient(to right, rgba(50, 0, 250, .65), crimson);
    /* Second linear gradient color for the background */
    /* background: linear-gradient(to right, royalblue, rgba(7, 152, 189, .7)); */
}

nav.navbar a.hvr-underline-from-center::before {
    height: 2px;
    /* background: #0041ce; */
    /* For second background color of the navigation */
    background: #001aff;
}

/* Showcase-Carousel Section */
section#showcase #main-carousel,
section#showcase #main-carousel .carousel-inner,
section#showcase #main-carousel .carousel-inner .carousel-item {
    max-height: 88vh;
}

/* Features Section */
/* ... */

/* Pricing Section */
section#pricing .container table tfoot {
    background: var(--nice-blue);
}

/* Contact Section */
/* ... */

/* About Section */
section#about #main-carousel,
section#about .carousel-inner,
section#about .carousel-item {
    max-height: 65vh !important;
}

section#about .carousel-caption {
    background: rgba(0, 0, 0, .5);
}

section#about .portfolio-shuffle h2 {
    width: 35px;
    border-width: 2px !important;
}

section#about .portfolio-shuffle ul.list-group {
    flex-direction: row;
}

section#about .portfolio-shuffle ul.list-group li {
    cursor: pointer;
    transition: all .4s ease;
}

section#about .portfolio-shuffle ul.list-group li:not(.active):hover {
    background: #abb2b8;
    border-color: #abb2b8;
}

section#about .portfolio-shuffle .over-port {
    background: rgba(6, 130, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 12;
    display: none;
}

section#about .portfolio-shuffle .over-port span {
    position: absolute;
    bottom: -80px;
    right: 10px;
}

section#about .portfolio-shuffle .col:hover .over-port {
    display: block;
}

/* Footer Section */
footer#main-footer {
    background: var(--nice-blue);
}

footer#main-footer .fa-fw:hover {
    cursor: pointer;
}

footer#main-footer .fa-linkedin {
    color: #305cbb;
}

footer#main-footer .fa-instagram {
    color: rgb(235, 67, 123);
}

footer#main-footer .fa-github {
    color: #b665db;
}

footer#main-footer .fa-twitter-square {
    color: #2095aa;
}

footer#main-footer .fa-youtube {
    color: rgb(197, 20, 20);
}

/* Scroll Up Division */
div.scroll-up {
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, .8);
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
    display: none;
}